.container_categoria {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container_categoria button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1 1 150px;
  padding: 10px 0;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
.container_categoria button img {
  width: 20px;
  height: auto;
}
.acenderBtn {
  background-color: #daa520;
}
.apagarBtn {
  background-color: transparent;
}

@media (max-width: 768px) {
  .container_categoria {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .container_categoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
